#
#   Configuration file for the shaper
#   A shaper is uniquely identified by
#
#   Caennet controller name (controller)
#   Caennet nodeid          (node)
#   Module  name            (name)
#
#   Modue parameters can also be stored these include:
#   outconfig(i)  - Per channel output configuration 0 - noninverting 1 inv.
#   outpolarity(i)- Per channel polarity 0 + 1 -.
#   shapetime(i)  - Shaping time (0-3).
#   coarsegain(i) - Coarse gain (0-7).
#   finegain(i)   - Fine gain (0-255).
#   pole0(i)      - Pole zero adjust (0-255).
#   offset        - The common offset#   
#   
set controller $vme0
set nodeid     1
set name       "seeshaper"


set muxenable 0
set muxsel    5

for {set i 0} {$i < 16} {incr i} {
   set outconfig($i) 0
   set outpolarity($i) 1
   set shapetime($i) 1
   set coarsegain($i) 2
   set finegain($i)   128
}