#
#  Sample configuration file for the run sequencer
#  This is a real one, for the gas cell.
#
#  Each line of the file is a list of three items:
#  column_name set_action init_action
#  
# column_name   - is text to put at the heading of a column.
# set_action    - is an action to perform to set the parameter
#                 represented by column_name to a value in a stage of the
#                 run plan.  This is a tcl script/command
#                 (usally defined in sequencerActions.tcl)
#                 and is invoked with the column_name and desired value 
#                 appended in that order.
# init_action   - is an action to initialize access  to the 
#                 represented by the column name.
#  Any of these except the column name can be blank in which case
#  no action is performed.  If you want set_action blank
#  but init_action not blank (pathalogical but you asked), use 
#  {} for the set_action.
#
#  blank lines are ignored. As are lines who's first non blank character
#  is a '#'.
#
# Column         set_action  init_action

P222ET_TARGET    epicsSet    epicsAccess
P222ER           epicsSet    epicsAccess
FLTCHAN73        epicsSet    epicsAccess
P#5:406353       epicsSet    epicsAccess
{Run Title}      setTitle

